doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title boilerplate-fix-me
  body
    block header
      .test Hello I'm a block with .test class
    block content
      include test  
    block footer